Source: libfilesys-smbclient-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Damyan Ivanov <dmn@debian.org>,
           gregor herrmann <gregoa@debian.org>,
           Xavier Guimard <x.guimard@free.fr>
Section: perl
Priority: extra
Build-Depends: debhelper (>= 9.20120312),
               libsmbclient-dev,
               perl
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libfilesys-smbclient-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libfilesys-smbclient-perl.git
Homepage: https://metacpan.org/release/Filesys-SmbClient/

Package: libfilesys-smbclient-perl
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Description: perl interface to access Samba filesystem
 This package provides the Filesys::SmbClient module. It provides
 interface to the functions in libsmbclient.so. It has functions to
 read/write/add/modify files/directories on Samba shares.

