Source: libfilesys-smbclient-perl
Section: perl
Priority: extra
Build-Depends: debhelper (>= 6), perl (>= 5.8.0-7), libsmbclient-dev, quilt (>= 0.40)
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Damyan Ivanov <dmn@debian.org>,
 gregor herrmann <gregoa@debian.org>
Standards-Version: 3.7.3
Homepage: http://search.cpan.org/dist/Filesys-SmbClient/
Vcs-Git: git://git.debian.org/pkg-perl/packages/libfilesys-smbclient-perl.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libfilesys-smbclient-perl.git

Package: libfilesys-smbclient-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description:  perl interface to access Samba filesystem
 This package provides the Filesys::SmbClient module. It provides
 interface to the functions in libsmbclient.so. It has functions to
 read/write/add/modify files/directories on Samba shares.
