#!/usr/bin/make -f

PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --buildsystem=perl_makemaker

override_dh_fixperms:
	dh_fixperms
	chmod 644 $(TMP)/usr/share/doc/libfilesys-smbclient-perl/examples/smb2www.css

